___

# Python - Introdução

<br>

* Linguagem de programação criada em 1991 por Guido van Rossum
* Atualmente mantida por Python Software Foundation
* Página oficial do projeto: https://www.python.org/

___

## Verificando a versão do Python
* No terminal: `python --version`

* No Jupyter Notebook:
 - `import sys`
 - `print(sys.version)`

In [ ]:
import sys
print(sys.version)

## Tipagem

### Inferência de Tipo
* O interpretador infere o tipo de dado da variável a partir do tipo de dados recebido

In [ ]:
v1 = 1
v2 = 'B'
v3 = 1.0099999

### Tipagem Dinâmica
*  O tipo da variável pode ser alterada em tempo de execução

In [ ]:
a = 1
type(a)

In [ ]:
a = 'A'
type(a)

### Tipagem Forte
* As expressões são avalidas pelo interpretador, que não faz conversões automáticas entre tipos não compatíveis
* Exemplos:
 * `v4 = v1 + v2`: Gera excessão do tipo `TypeError`
 * `v5 = v1 + v3`: Neste caso, o Python faz a conversão pois existe compatibilidade entre os tipos

In [ ]:
v4 = v1 + v2

In [ ]:
v5 = v1 + v3

In [ ]:
print(
    'v1: ',type(v1), 
    '\nv2: ', type(v2),
    '\nv3: ', type(v3),
    '\nv5: ', type(v5),
)

## Algumas Instruções especiais

### Remoção de objetos da memória

In [ ]:
v4 = 10
v5 = 10
del v4, v5

## Tipos de dados

### Numérico

In [ ]:
1 + 1

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Strings

In [ ]:
'Aspas simples'

In [ ]:
"Aspas Duplas"

In [ ]:
"Texto com aspas simples ' "

In [ ]:
'Texto com aspas duplas " '

#### Impressão de valores

In [ ]:
a = "Hello"

In [ ]:
a

In [ ]:
print(a)

In [ ]:
num = 10
name = 'Adolfo'

In [ ]:
print('O número é ', num, ' e o nome é ',name)

In [ ]:
print('O número é {v1} e o nome é {v2}'.format(v2=name,v1=num))

In [ ]:
print('O número é {} e o nome é {}'.format(num,name))

In [ ]:
name[0]

### Collections (Arrays)

### Listas
 * Coleção de dados não ordenados
 * Suporta mais de um tipo de dado
 * Permite registros duplicados
 * Para mais detalhes, consultar: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [261]:
[3,1,2]

[3, 1, 2]

In [260]:
['h1',2,3]

['h1', 2, 3]

In [ ]:
['h1',1,2,[1,2]]

In [ ]:
l1 = ['a','b','c']

In [ ]:
l1.append('d')

In [ ]:
print(l1)

***Removendo um registro da lista***

In [ ]:
del l1[3]

In [ ]:
l1

In [ ]:
l1[1]

In [ ]:
l1[2] = 'Novo'

In [ ]:
l1

In [ ]:
l2 = [1,2,3,[4,5,6,[7,8,'Alvo']]]

In [ ]:
l2

**Como acessar o valor Alvo?**

In [259]:
l2[3][3][2]

'Alvo'

### Tuplas
* Tuplas consistem em uma quantidade de valores separados por vírgula
* Não permite alteração de valores
* Para mais detalhes, consultar: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [ ]:
t = (1,2,3)

In [ ]:
t

In [ ]:
t = 1,2,3

In [ ]:
t

In [ ]:
t = (1234, 934837, 'Teste'),(1,2,3,4)

In [ ]:
t[0][2]

In [223]:
t[0][2] = 'Teste2' #Não suportado

TypeError: 'tuple' object does not support item assignment

### Sets
* Coleção de objetos não ordenados
* Não armazena elementos duplicados
* Suporta operações matemáticas de união, interseção, diferença.
* Para mais detalhes, consultar: https://docs.python.org/3/tutorial/datastructures.html#sets

In [232]:
{1,2,2,3}

{1, 2, 3}

In [233]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [234]:
print(basket)

{'apple', 'banana', 'orange', 'pear'}

In [235]:
a = set('abracadabra')

In [237]:
b = set('alacazam')

In [238]:
a - b # Letras apenas em a

{'b', 'd', 'r'}

In [239]:
a | b # letras em a ou em b, ou em ambos

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [242]:
a & b # Letras em a e em b

{'a', 'c'}

In [244]:
a ^ b # Letras em a ou em b, mas não nos dois

{'b', 'd', 'l', 'm', 'r', 'z'}

### Dicionários
* Coleção de dados indexados, não ordenados
* Indexados por chave definida pelo desenvolvedor
* Permite registros duplicados
* Para mais detalhes, consultar: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [245]:
d = {'key1':'item1','key2':'item2'}

In [246]:
d['key2']

'item2'

In [255]:
d2 = {'k1':1,'k2':'B',10001:{'k3':'1','k4':2}}

In [251]:
d2

{'k1': 1, 'k2': 'B', 4: {'k3': '1', 'k4': 2}}

In [257]:
d2[10001]['k4']

2

## Operadores de Comparação

In [267]:
1 > 2

False

In [268]:
1 < 2

True

In [265]:
1 >= 1

True

In [266]:
'hi' == 'bye'

False

## Operadores Lógicos

In [273]:
(1 > 2) and (2 < 3)

False

In [270]:
(1 > 2) or (2 < 3)

True

In [271]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [278]:
not (1 > 2) and (2 < 3)

True

## Estruturas de controle

In [279]:
if 1 < 2:
    print('Yep!')

Yep!

In [282]:
if 1 > 2:
    print('yep!')

In [286]:
if 1 < 2:
    print('Sim')
else:
    print('Não')

Sim

In [287]:
if 1 == 2:
    print('Primeiro')
elif 3 == 3:
    print('Segundo')
else:
    print('Terceiro')

Segundo

## Estruturas de Repetição

### For

In [4]:
seq = [1,2,3,4,5]

In [11]:
for item in seq:
    print('Item: ', item)

Item:  1
Item:  2
Item:  3
Item:  4
Item:  5

In [13]:
range(5)

range(0, 5)

In [30]:
for item in range(5):
    print('Item: ', item)

Item:  0
Item:  1
Item:  2
Item:  3
Item:  4

In [31]:
list(range(5))

[0, 1, 2, 3, 4]

In [32]:
x = [1,2,3,4] # Cria uma nova lista

In [33]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

### While

In [8]:
i = 1
while i <= 5:
    print('Item: ',i)
    i = i+1

Item:  1
Item:  2
Item:  3
Item:  4
Item:  5

In [9]:
range(5)

range(0, 5)

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

#### As instruções Break e Continue

In [38]:
#0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [41]:
# Exibe apenas números impares - 1,3,5,7,9
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Funções

In [43]:
def my_func():
    return "Retorno da Função"

In [44]:
my_func()

'Retorno da Função'

In [45]:
def my_func2(p1):
    p2 = p1

In [47]:
my_func2('Valor')

In [59]:
def my_func3(p1="Valor Padrão p1",p2=" Valor Padrão p2"):
    return p1 + p2

In [60]:
v1 = my_func3()

In [61]:
v1

'Valor Padrão p1 Valor Padrão p2'

In [55]:
my_func3 # Exibe a assinatura do método

In [63]:
my_func3('01','02')

'0102'

In [64]:
my_func3(p2=" Valor e P2")

'Valor Padrão p1 Valor e P2'

## Funções lambda
* Funções anônimas
 * `lambda arguments : expression`
* Podem receber quantidade indefinida de argumentos

In [67]:
x = lambda a : a + 10 #Adiciona 10 ao valor passado como argumento

In [73]:
x(5)

15

In [74]:
x = lambda a, b : a * b

In [75]:
x(2,4)

8

In [76]:
x = lambda a, b, c : a + b + c

In [77]:
x(2,4,6)

12

## Map e Filter

In [78]:
def times2(var):
    return var*2

In [79]:
times2(4)

8

In [80]:
seq = [1,2,3,4,5]

In [85]:
a = list(map(times2,seq))

In [89]:
a

[2, 4, 6, 8, 10]

In [95]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [112]:
filter(lambda item: item%2 == 0,seq) #Filtra apenas números pares

In [115]:
list(filter(lambda item: item%2 == 0,seq)) #Filtra apenas números pares

[2, 4]

## List comprehension (Compreensão de lista)
* Cria uma lista a partir de outra lista de valores
* https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

In [27]:
# Gerar uma nova lista com o quadrado de todos os itens de uma lista já existente
# Exemplo com for
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [29]:
# Exemplo com Compreensão de Lista
listac = [item**2 for item in x]

In [30]:
# Gerar uma lista com todos os números X multiplicados por 2
# onde X é um ítem do conjunto de números naturais de 0 a 10
# pelo qual X ao quadrado deve ser maior que 6
listaC2 = [2 * x for x in range(11) if x ** 2 > 6]

In [31]:
listaC2

[6, 8, 10, 12, 14, 16, 18, 20]

## Métodos
* São funções pertencentes a um objeto
 * Para mais detalhes, consultar: https://docs.python.org/3/tutorial/classes.html#method-objects

In [140]:
st = "Olá, meu nome é Flávio"

In [141]:
st.lower()

'olá, meu nome é flávio'

In [142]:
st.upper()

'OLÁ, MEU NOME É FLÁVIO'

In [122]:
st.split()

['Olá,', 'meu', 'nome', 'é', 'Flávio']

In [123]:
st.split(',')

['Olá', ' meu nome é Flávio']

In [124]:
tweet = 'Go Sports! #Sports'

In [125]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [85]:
d = {'key1': 'item1', 'key2': 'item2'}

In [129]:
d.keys()

dict_keys(['key1', 'key2'])

In [130]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [136]:
'x' in [1,2,3]

False

In [1]:
'x' in ['x','y','z']

True

## Números aleatórios
### Inteiros

In [32]:
import random as rd

In [69]:
rd.seed(1) # Configura a semente

In [72]:
rd.randint(1,10) # Retorna um número inteiro aleatório entre os dois números informados

2

In [93]:
seq = [1,2,3,4,5,6,7]

In [210]:
rd.shuffle(seq) # Randomiza os elementos de uma lista

In [212]:
print(seq)

[5, 1, 6, 3, 7, 2, 4]

In [224]:
deck = 'ace two three four'.split()
rd.shuffle(deck)
print(deck)

['three', 'ace', 'two', 'four']

In [136]:
# Retorna k inteiro aleatórios únicos, escolhidos a partir da população informada
# Se houverem registros repetidos, pode também retornar valores repetidos
rd.sample(range(1000),k=2)

[798, 323]

### Números reais

In [139]:
rd.random() # Retorna um número aleatório entre 0 e 1

0.6235275775481482

In [169]:
rd.uniform(-10,10) # Retorna um número real aleatório entre a faixa informada

9.664341334839818

In [225]:
rd.gauss(mu=0,sigma=2) # Distribuição gaussiana / normal. mu = média. sigma = desvio padrão

0.811578949928506

In [237]:
rd.randrange(0,10,1)

3

In [109]:
# Utilizando List comprehension para gerar um conjunto aleatório de números reais
lista = [rd.uniform(-10,10) for x in range(10)]
print(lista)

[-8.265360388886805, -4.376794161986835, 2.730605592303876, -7.3975164365603, 6.223185259238527, 6.592950408836792, 7.725312514167804, -1.1259703172509266, -1.6653772278271397, 9.836103723696713]

## Matrizes

In [113]:
#Criando uma matriz
m = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [119]:
#Primeira linha da matriz
m[0]

[1, 2, 3, 4]

In [122]:
#Acessando o item da segunda linha, e terceira coluna
m[1][2]

7

### O Python nativo não oferece recurso para acesso direto às colunas de uma matriz
* Para isso, utilizaremos Compreensão de lista

In [130]:
# Acessa a primeira coluna da matriz m
[row[0] for row in m]

[1, 5, 9]

In [143]:
# Acessa o segundo elemento da segunda coluna da matriz m
[row[1] for row in m][1]

6

## A função zip
* Retorna uma lista de tuplas, onde a i-ésima tupla contém o i-ésimo elemento de cada um dos argumentos
* https://docs.python.org/3.3/library/functions.html#zip

In [171]:
x = [1, 2, 3]
y = [4, 5, 6]

In [172]:
z = list(zip(x, y))

In [174]:
print(z)

[(1, 4), (2, 5), (3, 6)]

### Aplicação com matrizes

In [175]:
m = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [177]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

In [189]:
m2 = [a,b,c]

In [191]:
list(zip(a,b,c))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [192]:
list(zip(m))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]

In [194]:
# O operador * "desempacota" os registros da matriz
list(zip(*m))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]