___

# Python - Introdução

<br>

* Linguagem de programação criada em 1991 por Guido van Rossum
* Atualmente mantida por Python Software Foundation
* Página oficial do projeto: https://www.python.org/

___

## Verificando a versão do Python
* No terminal: `python --version`

* No Jupyter Notebook:
 - `import sys`
 - `print(sys.version)`

In [ ]:
import sys
print(sys.version)

## Tipagem

### Inferência de Tipo
* O interpretador infere o tipo de dado da variável a partir do tipo de dados recebido

In [ ]:
v1 = 1
v2 = 'B'
v3 = 1.0099999

### Tipagem Dinâmica
*  O tipo da variável pode ser alterada em tempo de execução

In [ ]:
a = 1
type(a)

In [ ]:
a = 'A'
type(a)

### Tipagem Forte
* As expressões são avalidas pelo interpretador, que não faz conversões automáticas entre tipos não compatíveis
* Exemplos:
 * `v4 = v1 + v2`: Gera excessão do tipo `TypeError`
 * `v5 = v1 + v3`: Neste caso, o Python faz a conversão pois existe compatibilidade entre os tipos

In [ ]:
v4 = v1 + v2

In [ ]:
v5 = v1 + v3

In [ ]:
print(
    'v1: ',type(v1), 
    '\nv2: ', type(v2),
    '\nv3: ', type(v3),
    '\nv5: ', type(v5),
)

## Algumas Instruções especiais

### Remoção de objetos da memória

In [ ]:
v4 = 10
v5 = 10
del v4, v5

## Tipos de dados

### Numérico

In [ ]:
1 + 1

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Strings

In [ ]:
'Aspas simples'

In [ ]:
"Aspas Duplas"

In [ ]:
"Texto com aspas simples ' "

In [ ]:
'Texto com aspas duplas " '

#### Impressão de valores

In [ ]:
a = "Hello"

In [ ]:
a

In [ ]:
print(a)

In [ ]:
num = 10
name = 'Adolfo'

In [ ]:
print('O número é ', num, ' e o nome é ',name)

In [ ]:
print('O número é {v1} e o nome é {v2}'.format(v2=name,v1=num))

In [ ]:
print('O número é {} e o nome é {}'.format(num,name))

In [ ]:
name[0]

### Collections (Arrays)

### Listas
 * Coleção de dados não ordenados
 * Suporta mais de um tipo de dado
 * Permite registros duplicados
 * Para mais detalhes consultar: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [261]:
[3,1,2]

[3, 1, 2]

In [260]:
['h1',2,3]

['h1', 2, 3]

In [ ]:
['h1',1,2,[1,2]]

In [ ]:
l1 = ['a','b','c']

In [ ]:
l1.append('d')

In [ ]:
print(l1)

***Removendo um registro da lista***

In [ ]:
del l1[3]

In [ ]:
l1

In [ ]:
l1[1]

In [ ]:
l1[2] = 'Novo'

In [ ]:
l1

In [ ]:
l2 = [1,2,3,[4,5,6,[7,8,'Alvo']]]

In [ ]:
l2

**Como acessar o valor Alvo?**

In [259]:
l2[3][3][2]

'Alvo'

### Tuplas
* Tuplas consistem em uma quantidade de valores separados por vírgula
* Não permite alteração de valores
* Para mais detalhes consultar: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [ ]:
t = (1,2,3)

In [ ]:
t

In [ ]:
t = 1,2,3

In [ ]:
t

In [ ]:
t = (1234, 934837, 'Teste'),(1,2,3,4)

In [ ]:
t[0][2]

In [223]:
t[0][2] = 'Teste2' #Não suportado

TypeError: 'tuple' object does not support item assignment

### Sets
* Coleção de objetos não ordenados
* Não armazena elementos duplicados
* Suporta operações matemáticas de união, interseção, diferença.
* Para mais detalhes, consultar: https://docs.python.org/3/tutorial/datastructures.html#sets

In [232]:
{1,2,2,3}

{1, 2, 3}

In [233]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [234]:
print(basket)

{'apple', 'banana', 'orange', 'pear'}

In [235]:
a = set('abracadabra')

In [237]:
b = set('alacazam')

In [238]:
a - b # Letras apenas em a

{'b', 'd', 'r'}

In [239]:
a | b # letras em a ou em b, ou em ambos

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [242]:
a & b # Letras em a e em b

{'a', 'c'}

In [244]:
a ^ b # Letras em a ou em b, mas não nos dois

{'b', 'd', 'l', 'm', 'r', 'z'}

### Dicionários
* Coleção de dados indexados, não ordenados
* Indexados por chave definida pelo desenvolvedor
* Permite registros duplicados
* Para mais detalhes consultar: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [245]:
d = {'key1':'item1','key2':'item2'}

In [246]:
d['key2']

'item2'

In [255]:
d2 = {'k1':1,'k2':'B',10001:{'k3':'1','k4':2}}

In [251]:
d2

{'k1': 1, 'k2': 'B', 4: {'k3': '1', 'k4': 2}}

In [257]:
d2[10001]['k4']

2

## Operadores de Comparação

In [267]:
1 > 2

False

In [268]:
1 < 2

True

In [265]:
1 >= 1

True

In [266]:
'hi' == 'bye'

False

## Operadores Lógicos

In [273]:
(1 > 2) and (2 < 3)

False

In [270]:
(1 > 2) or (2 < 3)

True

In [271]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [278]:
not (1 > 2) and (2 < 3)

True

## Estruturas de controle

In [279]:
if 1 < 2:
    print('Yep!')

Yep!

In [282]:
if 1 > 2:
    print('yep!')

In [286]:
if 1 < 2:
    print('Sim')
else:
    print('Não')

Sim

In [287]:
if 1 == 2:
    print('Primeiro')
elif 3 == 3:
    print('Segundo')
else:
    print('Terceiro')

Segundo

## Estruturas de Repetição

SyntaxError: invalid syntax (<ipython-input-3-3d6cfb4a5e4d>, line 1)